[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
uvicorn = "*"
python-multipart = "*"
fastapi = "*"
pydantic = {extras = ["email"], version = "*"}
asyncpg = "*"
alembic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
aioredis = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.10"
