[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
uvicorn = "*"
python-multipart = "*"
fastapi = "*"
psycopg2-binary = "*"
pydantic = {extras = ["email"], version = "*"}
asyncpg = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.10"
